# Required: Generate with: python3 -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=
# Required for first-time registration: Generate with: python3 -c "import secrets; print(secrets.token_hex(32))"
REGISTRATION_TOKEN=

DATABASE_URL=sqlite:////opt/strfrygui/strfrygui.db

STRFRY_BINARY=/usr/local/bin/strfry
STRFRY_CONFIG=/usr/local/etc/strfry.conf
STRFRY_DB_PATH=/var/db/strfry
STRFRY_METRICS_URL=http://localhost:7777/metrics
